<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by Riya Chakraborty</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700&display=swap"
      rel="stylesheet"
    />
 
    <title>Contact Card</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-bio">
          <div class="img-wrapper">
            <img src="images/person.jpg" alt="Person" />
          </div>
          <div class="person-info">
            <h3>Jane Brown</h3>
            <p>Carpe Diem
     </p>
          </div>
          <button class="card-btn">
            <span class="card-btn-contact">More About Me</span>
            <i class="fas fa-angle-up"></i>
          </button>
        </div>
        <div class="card-contact">
          <h4>About Me</h4>
        </div>
        <div class="card-social email">
          <div class="icon-wrapper">
            <i class="fa fa-guitar"></i>
          </div>
          <div class="contact-details">
            <h4>Hobbies</h4>
            <p>Traveling, Cooking, Art</p>
          </div>
          <span>></span>
        </div>
        <div class="card-social fb">
          <div class="icon-wrapper">
            <i class="fa fa-chess-rook"></i>
          </div>
          <div class="contact-details">
            <h4>Interests</h4>
            <p>Basketball, Cars, Sunsets</p>
          </div>
          <span>></span>
          </div>
        <div class="card-social linkedin">
          <div class="icon-wrapper">
            <i class="fa fa-pencil-ruler"></i>
          </div>
          <div class="contact-details">
            <h4>Classes Together</h4>
            <p>CHEM1312, CS2337</p>
          </div>
          <span>></span>
        </div>
  <div class="floaty">
      <div class="button-container">
   <div class="button-container">
   <div class="button1">

     <span class="iconify" data-icon="emojione-monotone:bug"></span>
   </div>
   <div class="button2">
   <span class="iconify" data-icon="vs:butterfly" height="50%" width="20%"></span>
   </div>
</div>
*/
<script type="text/javascript"  src="script.js" charset="utf-8"></script>
      

</body>
</html>
